@using MVCStok.Models.Entity
@model List<TBLKategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>KATEGORİ AD</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach(var x in Model)
    {
        <tr>@x.id</tr>
        <tr>@x.ad</tr>
        <tr><a href="/Kategori/KategoriSil/@x.id" class="btn btn-danger">Sil</a></tr>
        <tr><a href="/Kategori/KategoriGetir/@x.id" class="btn btn-success">Güncelle</a></tr>
    }
</table>
<a href="/Kategori/YeniKategori" class="btn btn-primary">Yeni Kategori</a>
